---
layout: default
---

<div class="home">
{% for post in site.posts %}
  {% if forloop.index <= site.post_limit %}
  <div class="post">
  <div class="post-header">
    <a href="{{ post.url }}">
      <h1 class="post-title">{{ post.title }}</h1>
    </a>
    <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </div>

  <article class="post-content">
    {{ post.content }}
  </article>

</div>

<hr>
<br><br>

{% else %}
    {% break %}
  {% endif %}
{% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" }}">via RSS</a></p>

</div>
